.big {
  float: left;
  font-family: "Arial", sans-serif;
  font-size: 280%;
  line-height: 1.3em;
  margin: -0.1em 0.05em -0.32em 0
}

.big1 {
  float: left;
  font-family: "Arial", sans-serif;
  font-size: 1.71429em;
  line-height: 1.3em;
  margin: -0.1em 0.05em -0.32em 0
}

.calibre {
  display: block;
  font-size: 0.875em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt
}

.calibre1 {
  display: block
}

.calibre2 {
  height: 100%;
  width: auto
}

.calibre3 {
  background-color: #fff;
  display: block;
  font-size: 0.875em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt
}

.calibre4 {
  font-size: 0.85714em
}

.calibre5 {
  font-style: italic
}

.calibre6 {
  line-height: 1.2
}

.calibre7 {
  height: auto;
  line-height: 1.2;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  width: auto
}

.calibre8 {
  font-size: 1em;
  line-height: 1.2
}

.calibre9 {
  color: inherit;
  text-decoration: none
}

.calibre10 {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  width: auto
}

.calibre11 {
  font-weight: bold
}

.calibre12 {
  display: block
}

.calibre13 {
  display: block;
  font-size: 0.875em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt
}

.calibre14 {
  display: block;
  font-family: sans-serif;
  font-size: 1.42857em;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 2em 0 0.2em
}

.calibre15 {
  display: block;
  list-style-type: none;
  margin: 1em 0
}

.calibre16 {
  display: list-item;
  list-style-type: none
}

.calibre17 {
  display: block;
  list-style-type: none;
  margin: 0
}

.calibre18 {
  display: block;
  font-size: 1.42857em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0
}

.copy {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.85714em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 0
}

.copy1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.85714em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0
}

.ded {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 3em 0 0
}

.h {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.28571em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 2em 0
}

.h2c {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.14286em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 2em 0 3em
}

.h2p {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.14286em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 1.5em 0 2.5em
}

.hide {
  display: none
}

.image {
  display: block;
  text-align: center;
  margin: 1em 0
}

.imaget {
  display: block;
  font-size: 1.71429em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0
}

.imaget1 {
  display: block;
  text-align: center;
  margin: 0
}

.indent-para {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
  text-indent: 1.3em;
  margin: 0
}

.indent-para1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.14286em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
  text-indent: 1.3em;
  margin: 1em 0
}

.indent-paras {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.14286em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
  text-indent: 1.3em;
  margin: 1em 0 1em 1.3em
}

.para {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
  text-indent: 0;
  margin: 0
}

.para1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
  text-indent: 0;
  margin: 1.5em 0 0
}

.parac {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0
}

.paras {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.14286em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
  text-indent: 0;
  margin: 1em 0 1em 1.3em
}

.toc {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
  text-indent: 0;
  margin: 0.5em 0 0 0.5em
}

@font-face {
  font-family: NotoSansMono;
  font-style: normal;
  src: url("NotoSansMono.ttf");
}

b {
  text-transform: none !important;
  font-weight: 700 !important;
}

* {
  font-weight: 400 !important;
  font-family: NotoSansMono, sans-serif !important;
}
