body, div, h1, h2, h3, h4, h5, h6, p {
	widows: 2;
	orphans: 2;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
	text-align: left;
	page-break-after: avoid;
}
i {
	font-style: italic;
}
b {
	font-weight: 600;
}
ol,ul{
	margin: 0;
	padding: 0 0 0 1.75em;
	border: 0;
	outline: 0;
}
li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
table {
	width: 100%;
}
img, div {
	padding: 0;
	margin: 0;
}
figure {
	display: block;
	padding: 0;
	margin: 0;
	page-break-inside: avoid;
}
figcaption {
	display: block;
	padding: 0;
	margin: 0;
	page-break-inside: avoid;
}
div.h100 {
	text-align: center;
	height: 100%;
	max-width: 100%;
	clear: both;
}
img.h100 {
	height: 100%;
	max-width: 100%;
}
div.w100 {
	text-align: center;
	max-height: 100%;
	width: 100%;
	clear: both;
}
img.w100 {
	max-height: 100%;
	width: 100%;
}
img.h1em {
	height: 1em;
}
img.h2em {
	height: 2em;
}
img.h4em {
	height: 4em;
}
div.footnote {
	margin-top: 15%;
}
hr.transition{
	display: block;
	border: none;
	margin: 0;
}
div.w50c {
	text-align: center;
	max-height: 100%;
	margin: 1em 25%;
	clear: both;
}
div.sidebar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 1em 5%;
    padding: .5em 5%;
}
h1.x01-FM-Ad-Card-Head {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 15% 0 0.36em 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Ad-Card-List {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.833em;
	margin: 0.2em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Contents-A-Head {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 0 0 0 3.33em;
	text-indent:0;
}
p.x01-FM-Contents-BM-Head {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 1.2em 0 0 0;
	text-indent:0;
}
p.x01-FM-Contents-BM-Head-First {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 2.4em 0 0 0;
	text-indent:0;
}
p.x01-FM-Contents-CN {
	font-family:"Whitman ItalicOsF", "Georgia", serif;
	font-size:0.833em;
	margin: 0 0 0.6em 0;
	text-indent:1.5em;
	font-style: italic;
}
p.x01-FM-Contents-CT {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:0.833em;
	font-weight:bold;
	margin: 1.8em 0 0 2.4em;
	text-indent:-2.4em;
}
p.x01-FM-Copyright-Text {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.667em;
	margin: 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Copyright-Text-Space {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.667em;
	margin: 1.12em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x01-FM-Dedi-Body {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	font-style:italic;
	margin: 20% 0 0 0;
	text-align:center;
	text-indent:1.33em;
}
h1.x01-FM-Head {
	font-family:"Whitman RomanOsF", "Georgia", serif;
	font-size:1.333em;
	margin: 15% 0 10% 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
p.x03-CO-Body-Text {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 10% 0 0 0;
	text-indent:0;
}
p.x03-Chapter-Epigraph {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 0 4em;
	text-indent:0;
}
p.x03-Chapter-Epigraph-FL {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 1.67em 10% 0 10%;
	text-indent:0;
}
p.x03-Chapter-Epigraph-FL-Hang {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 1.67em 10% 0 15%;
	text-indent:-5%;
}
p.x03-Chapter-Epigraph-FL-No-Space-Hang {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 0 10% 0 15%;
	text-indent:-5%;
}
/*May want to look at the style below*/
p.x03-Chapter-Epigraph-Source {
	font-family:"Whitman ItalicOsF", "Georgia", serif;
	font-size:0.75em;
	margin: 0.44em 15% 0 15%;
	text-align:right;
	text-indent:0;
	font-style: italic;
}
h1.x03-Chapter-Number {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:1em;
	font-weight:bold;
	margin: 15% 1em .5em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h1.x03-Chapter-Subtitle {
	font-family:"Whitman ItalicOsF", "Georgia", serif;
	font-size:1.5em;
	margin: 0 1em 0.83em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
	font-style: italic;
}
h1.x03-Chapter-TItle-BRK {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:1.5em;
	font-weight:bold;
	margin: 15% 1em 0.78em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h1.x03-Chapter-Title {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:1.5em;
	font-weight:bold;
	margin: 0 1em 0.78em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
p.x04-Body-Text {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 0;
	text-indent:1.33em;
}
p.x04-Body-Text-FL {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 0;
	text-indent:0;
}
p.x04-Space-Break-FL-Bullet {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 0;
	text-indent:0;
}
p.x04-Space-Break-FL-Line {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 0;
	text-indent:0;
}
div.x04-Space-Break-Orn {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 1.07em 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
div.x04-Space-Break-Orn-1 {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:2.5em;
	margin: 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h2.x05-Head-A {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:0.979em;
	font-weight:bold;
	margin: 2.23em 1em 0.68em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
	
}
p.x05-Head-A-Key {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:1.146em;
	font-weight:bold;
	margin: 2.23em 1em 0.58em 1em;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h3.x05-Head-B {
	font-family:"Whitman ItalicOsF", "Georgia", serif;
	font-size:1em;
	margin: 1.08em 0 0.25em 0;
	page-break-after:avoid;
	text-indent:0;
	font-style: italic;
}
p.x10-Sidebar-Body-Text {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.833em;
	margin: 0;
	text-indent:0;
}
p.x10-Sidebar-Source {
	font-family:"Whitman RomanOsF", "Georgia", serif;
	font-size:0.75em;
	margin: 1em 0 0 0;
	text-align:center;
	text-indent:0;
}
p.x13-BM-Ack {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 0;
	text-indent:1.33em;
}
p.x13-BM-Ack-FL {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.938em;
	margin: 2.75em 0 0 0;
	text-indent:0;
}
h1.x13-BM-Ack-Head {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:1.5em;
	font-weight:bold;
	margin: 15% 0 0.78em 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
p.x13-BM-Alpha {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 2.44em 0 0 2.67em;
	text-indent:-2.67em;
}
p.x13-BM-Biblio {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.833em;
	margin: 0.2em 0 0 1.5em;
	text-indent:-1.5em;
}
h1.x13-BM-Head {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:1.5em;
	font-weight:bold;
	margin: 15% 0 10% 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
h1.x13-BM-Index-Head{
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:1.5em;
	font-weight:bold;
	margin: 5% 0 10% 0;
	page-break-after:avoid;
	text-align:center;
	text-indent:0;
}
p.x13-BM-Index-1 {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 0 0 0 2.67em;
	text-indent:-2.67em;
}
p.x13-BM-Index-2 {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 0 0 0 2.67em;
	text-indent:-1.78em;
}
span._5-Head-Run-In-1 {
	font-family:"Whitman BoldOsF", "Georgia", serif;
	font-size:0.875em;
	font-weight:bold;
}
span._5-Head-Run-In-2 {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.958em;
		font-weight:bold;
}

span.BOLD_ITAL {
	font-style:italic;
	font-weight:bold;
}
span.Contents-CN {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.875em;
}
span.ROMAN {
    font-style: normal;
}

p.x03-CO-Body-Text::first-letter{
	font-size:2.6em;
	line-height:0.85;
	float:left;
	margin:0 0.05em 0 0;
}
p.x13-BM-Ack-FL::first-letter{
	font-size:2.6em;
	line-height:0.85;
	float:left;
	margin:0 0.05em 0 0;
}

h1.x13-BM-About-Au-Head {
	font-family: "Whitman BoldOsF", "Georgia", serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 15% 0 10% 0;
	text-align:center;
	text-indent: 0;
}
p.x13-BM-About-Au {
	font-family: "Bembo Book MT Std", "Georgia", serif;
	font-size: 0.938em;
	margin: 1.5em 0 0 0;
	text-indent: 0em;
}
p.x13-BM-Index-Note {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:0.75em;
	margin: 0 0 1em 0;
	text-indent:0;
}


/* ----- NAV BARS ----- */

div.x13-BM-Index-Nav-Bar {
	margin:1em 0;
	page-break-inside:avoid;
	border-bottom: 2px solid #999999;
	border-top: 2px solid #999999;
	width:100%;
}
p.x13-BM-Index-Nav-Bar {
	font-family:"Bembo Book MT Std", "Georgia", serif;
	font-size:1em;
	margin:.1em;
	padding:.4em;
	line-height:1.5em;
	text-align:center;
}
span.x13-BM-Index-Nav-Bar-Letter {
	text-align:center;
	padding:0 .15em;
	color:#999999;
}
