@page {
    margin-bottom: 5pt;
    margin-top: 5pt;
}
@font-face {
    font-family: Alegreya;
    font-weight: normal;
    font-style: normal;
    src: url(OEBPS/fonts/alegreya-regular.otf);
}
@font-face {
    font-family: "Great Vibes";
    font-weight: normal;
    font-style: normal;
    src: url(OEBPS/fonts/greatvibes-regular.otf);
}
b {
    font-weight: 300;
}
