@import 'tailwindcss';
@import 'tw-animate-css';

@source inline("font-cursive");

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Instrument', serif;
  --font-cursive: 'Luxurious', serif;

  --header-height: 100px;

  /* colors */
  /* Default background color of <body />...etc / */
  --color-background: oklch(96.89% 0.0215 95.28);
  --color-foreground: oklch(0.26 0.1184 279.72);

  /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
  --color-muted: oklch(97% 0.0068 247.9);
  --color-muted-foreground: oklch(55% 0.0407 257.44);

  /* Background color for <Card /> */
  --color-card: oklch(34.93% 0.147 281.02);
  --color-card-foreground: oklch(96.89% 0.0215 95.28);

  /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
  --color-popover: oklch(34.93% 0.147 281.02);
  --color-popover-foreground: oklch(96.89% 0.0215 95.28);

  /* Default border color */
  --color-border: oklch(34.93% 0.147 281.02);

  /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
  --color-input: oklch(34.93% 0.147 281.02);

  /* Primary colors for <Button /> */
  --color-primary: oklch(0.26 0.1184 279.72);
  --color-primary-foreground: oklch(96.89% 0.0215 95.28);

  /* Secondary colors for <Button /> */
  --color-secondary: oklch(96.89% 0.0215 95.28);
  --color-secondary-foreground: oklch(34.93% 0.147 281.02);

  /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
  --color-accent: oklch(97% 0.0068 247.9);
  --color-accent-foreground: oklch(21% 0.0399 265.73);

  /* Used for destructive actions such as <Button variant='destructive'> */
  --color-destructive: oklch(0.444 0.177 26.899);
  --color-destructive-foreground: oklch(94.26% 0.0173 26.899);

  /* Used for focus ring */
  --color-ring: oklch(34.93% 0.147 281.02);

  /* Border radius for card, input and buttons */
  --radius-theme: 30px;
}


@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: 'normal';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Instrument';
  font-style: 'normal';
  src: url('/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Luxurious';
  font-style: 'normal';
  src: url('/fonts/Luxurious_Script/LuxuriousScript-Regular.ttf') format('truetype');
}

.debug {
  border: darkred;
  border-width: 3px;
}