@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

b {
  text-transform: none !important;  
  font-weight: 700 !important;
}

@font-face {
  font-family: NotoSansMono;
  font-style: normal; 
  src: url("NotoSansMono.ttf"); 
}

* {
  font-weight: 400 !important;
 
  font-family: NotoSansMono, sans-serif !important;
 }